Source: libcariad-driver-ssd1306-pmod
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-driver-ssd1306-pmod
Replaces: libdisplaycore-driver-ssd1306-pmod
Section: main
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Drivers
XBSC-Subsubgroup: OLED
Depends: libcariad-core, libcariad-driver-ssd1306, libdspi-chipkit
Provides: SSD1306-UL-PMOD.h
Description: SSD1306 PMOD (DSPI) Interface
 This is a DSPI interface for the SSD1306 display as used on the
 Digilent OLED PMOD and Basic IO Shield. This is a 128x32 display
 with SPI interface. It has VDD and VBAT control but these aren't
 actually needed for normal operation.
 .
 This library requires the SSD1306 "base" library to work.
